

.section-padding
{
	padding: 40px 0px;
}
.main-navigation
{
    border-bottom: 1px solid #eee;
}


.navbar-default {
    background-color: #fff;
    border-color: rgba(231, 231, 231, 0.33);
    padding: 20px 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #354242;
    background-color: #fff;
}
.navbar-nav {
    padding-top: 5px;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	border-bottom: 2px solid #4c8d40;
    outline: none;
}
.navbar {
	min-height: inherit;
	margin-bottom: 0px;
}
.navbar-brand {
	height: inherit;
}

.logoHeight{
    max-height: 40px;
    margin-top:-17px;
    margin-bottom: -20px;
    margin-right: -20px;
}

#banner
{
    background: url('../img/banner-bg.jpg') no-repeat;
    background-size: cover;
    min-height: 500px;
}

.navbar-default .navbar-brand {
    color: #4c8d40;
}

.navbar-default .navbar-nav > li > a {
	color: #354242;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px 10px;
	padding-bottom: 5px;
	font-size: 14px;
}
.nav > li > a
{
	padding: 0px;
}
.jumbotron
{
    background-color: transparent;
    padding-top: 90px;
}
.jumbotron p.big
{
    line-height: 21px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 6px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    padding-top: 10px;
}
a.btn-banner {
    border: 1px solid #cdcdcd;
    padding: 22px 22px;
    line-height: 0px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 75px;
}
a.btn-banner i
{
    padding-left: 10px;
}
a.btn-banner:hover, a.btn-banner:focus
{
    background-color: #569e49;
    color: #fff;
    border-color: #4c8d40;
    display: inline-block;
}
.bold
{
    font-weight: bold;
}
.bor-btm
{
    width: 100px;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 85px;
}
.jumbotron h1.small
{
    line-height: 88px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 62px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 0px;
}

@media (min-width: 480px) and (max-width: 1023px) {
    .img-sec, .fig-caption {
    width: 100%;
    float: left;
}
.fig-caption {
    padding: 56px 20px 20px;
}
}
@media (min-width: 451px) and (max-width: 768px) {
.filter {
    padding: 5px 18px;
    margin-bottom: 3px;
}
.wd75
{
    width: 100%;
}
.fig-caption {
    padding: 56px 20px 20px;
}
}
@media (min-width: 301px) and (max-width: 450px) {
.filter {
    padding: 3px 14px;
    margin-bottom: 3px;
}
.jumbotron
{
    padding-right: 30px;
    padding-left: 30px;
}

.wd75
{
    width: 100%;
}

.jumbotron h1.small {
    font-size: 26px;
}

.button-medium {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    width: 150px;
}
.jumbotron
{
    padding: 90px 0px 0px 20px !important;
}
}

@media (min-width: 100px) and (max-width: 300px) {

.jumbotron h1.small {
    font-size: 22px;
}

.button-medium {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    width: 150px;
}
.jumbotron
{
    padding: 90px 0px 0px 20px !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a{
    text-align: center;
}
}
@media (min-width: 300px) and (max-width: 768px) {
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a{
    text-align: center;
    border: 0px;
}
.navbar-default .navbar-nav > li > a:hover
{
    border: 0px;
}
}